*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: rgb(139, 61, 179);
  color: white;
}

.todo_inner{
  background-color: black;
  padding:70px;
  border-radius: 5px;
}

.todo_container{
  /* position:absolute  ;
  left:50%;
  bottom:50%; 
  transform: translate(-50%,-50%); */
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50vw auto;   
  
  
} 
.todo_input{
  display: flex;
  align-items: center;
  max-width: 70vw;
  background-color: black;
  border-color: black;

}
 
 input{ 
  border: 1px solid rgb(54, 59, 75);
  font-size: xx-large;
  cursor: pointer;
  background-color: black;
  border-radius: 5px;
  

} 
button{
  /* font-size: x-large; */
  color: white;
  padding: 0 15px;
  background-color: darkorchid;
  border: 2px solid rgb(43, 84, 218);
  cursor: pointer;
  border: none;
  padding: 12px;
  border-radius: 5px;  
}
input::placeholder { 
  color:darkturquoise;
  opacity:0.2; 
  font-size: large;
}

/* .todo{
  display:flex;
 padding:15px;
 color: white;
 border-radius: 10px;
 margin: 1rem;
} */

.list{
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 15px;
}

.listTodo{
  border: 1px solid black;
  margin: 10px;
  padding: 10px;

}

.icon{
  /* position: fixed; */
  /* right: 0; */
  float: right;
  /* border: 1px solid white; */
  color:blue;
  margin:  0 5px;
  cursor: pointer;
}